.Login__background {
    width: 70%;
    @include media-breakpoint-down(lg) {
        width: 100%;
    }
    @include media-breakpoint-down(xs) {
        display: none;
    }
}

.Login__padding{
    padding-top: 162px;
    overflow: visible;
    @include media-breakpoint-down(md) {
        padding-top: 80px;
    }
}

.Login__content {
    z-index: 1020;
}

.Login__right {
    background: white;
    @include media-breakpoint-down(lg) {
        background: none;
    }
}

.Login__location {
    position: absolute;
    bottom: 24px;
    left: 0;
    z-index: 1020;
    opacity: 0.8;

    @include media-breakpoint-down(md) {
        left: 50%;
        transform: translate(-50%, 0);
    }
}