.priceTag {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: none;
  border: none;

  @include media-breakpoint-between(md, lg) {
      background: white;
      padding: 8px 10px;
      border-radius: 4px;
      @include list-w-divider(8px, $info, 1px, true);
  }
  &>li {
      flex-grow: 1;
      background: white;
      border-radius: 4px;
      padding: 8px;

      @include media-breakpoint-between(md, lg) {
          padding: 0;
      }
  }

  .divider {
      background: none;
      flex-grow: 0;
      line-height: 100%;
      vertical-align: middle;
      @include media-breakpoint-between(md, lg) {
          display: none;
      }
  }

  .title {
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
  }

  .price {
      color: $secondary;
      font-size: 14px;
      text-transform: uppercase;
      @include media-breakpoint-between(md, lg) {
          font-size: 12px;
      }
  }

}

.priceTag__Label {
  margin-bottom: 0;
  margin-right: 4px;
}

.priceTag__Num {
  width: 100%;
  color: $secondary;
  background: none;
  border: none;
}

.Fullscreen__collapse {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
}

.Fullscreen__collapse-wrapper {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.Fullscreen__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex: 0 0 auto;

    padding: 10px 4px 10px 16px;
}

.Fullscreen__content {
    flex: 1 1 auto;
    overflow-y: scroll;
    &>div {
        padding-bottom: 200px;
    }
}

.Fullscreen__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}