.Hotel__picGroup {
    height: 435px;
    @include media-breakpoint-down(lg) {
        height: 268px;
    }
    @include media-breakpoint-down(lg) {
        height: 247px;
    }
    .pic-fill-container {
        border-radius: 4px;
    }

    .btn {
        font-size: 16px;
        @include media-breakpoint-down(md) {
            font-size: 12px;
        }
    }
}

.Hotel__picSwiper {
    height: 247px;
}

.Hotel__pageContainer {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0 15px;

    @include media-breakpoint-down(lg) {
        max-width: 960px;
    }

    @include media-breakpoint-down(md) {
        max-width: 720px;
    }
    @include media-breakpoint-down(sm) {
        max-width: 100%;
        padding: 0;
    }
}

.Room__cardImg {
    border-top-left-radius: $border-radius-lg;
    border-bottom-left-radius: $border-radius-lg;
    @include media-breakpoint-down(sm) {
        border-bottom-left-radius: 0;
        border: 1px solid $info;
    }
}

.Room__tagsGroup {
    height: 120px;
    font-size: 14px;
    @include media-breakpoint-down(md) {
        height: auto;
    }
    &>li {
        margin-bottom: 8px;
        margin-right: 12px;
        @include media-breakpoint-down(lg) {
            margin-right: 8px;
        }
    }
}

.Room__cardDesc {
    padding: 8px 16px;
    @include media-breakpoint-down(md) {
        padding: 8px 8px;
    }
    @include media-breakpoint-down(sm) {
        border-top: 1px solid $info;
        border-right: 1px solid $info;
        border-top-right-radius: 4px;
    }
}
