.animate-onload {
  transition-property: opacity, transform;
  transition-timing-function: ease;
  transition-duration: .8s;
}

.animate-fade-up {
  opacity: 0;
  transform: translate3d(0, 100px, 0);

  &.show {
    opacity: 1;
    transform: translateZ(0);
  }
}

.animate-delay-500 {
  transition-delay: .5s;
}

.animate-icon {
  -webkit-transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
}
.animate-title-fadeout {
  opacity: 0;
  -webkit-transition: opacity .35s ease-out;
  transition: opacity .35s ease-out;
}

.collapsed {
  .animate-title-fadeout {
    opacity: 1;
  }
  .animate-icon-spin {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

